html, body {
    height: 100%;
    margin: 0;
}


.contenedor {
    border: 1px solid #ccc;
    display: grid;
    height: 100%;
    grid-template-rows: 10% 50% 10% 30%;
    grid-template-columns: 20% 60% 20%;



}

.contenedor #menu, #imagen, #opciones, #pregunta {
    grid-column: 2/3;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#menu {
    border: 1px solid #ddd;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#menu div {
    border: 1px solid #ddd;
    margin: 10px;
    background-color: #fff;
text-align: center;

    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#menu div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#opciones {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imagen {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#respuesta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

#respuesta button {
    display: flex;
    height: 80%;
    width: 25%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#respuesta button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#respuesta .checkboxes {
    color: black;
    display: flex;
    height: 80%;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
}

#respuesta .checkboxes input {
    height: 80%;
    width: 100%;
}

.enviar {
    height: 30px !important;
    width: 100% !important;
    font-size: 23px !important;
    background-color: gold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
p{
    color: black;
}
#respuesta textarea {
    height: 80%;
    width: 100%;
    font-size: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#respuesta select {
    width: 100%;
    height: 20%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 30px;
}

.hecho{
    background-color: #4CAF50!important;
}